:root{
    --gordina: rgb(75, 95, 43);
}
button{
    height: 10vh;
    width: 15vw;
}

.Player {
    display: grid;
    gap: 1px;
    background-color: black;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: rgb(187, 173, 173);
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.mainConteiner{
    display: grid;
    gap: 10px;
}
#board-container1{
    border: rgb(0, 183, 255) 1px solid;
    color:var(--gordina);
}

#board-container2 .cell{
    color:var(--gordina);
    background-color: rgb(225, 245, 225);
}